.add-modal{
    position: absolute;
    background: white;
    width: 90%;
    box-shadow: 1px 0px 13px 0px;
    top: 80px;
    border-radius: 5px;
}

.add-modal > div{
    display: flex;
    padding: 5px 20px;
}

.add-modal-close{
    position: absolute;
    right: 5px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
}

.add-modal-close:hover{
    cursor: pointer;
}
.add-modal-close:after{
    content: "";
    display: inline-block;
    position: inherit;
    width: 20px;
    height: 3px;
    background-color: red;
    transform: rotate(45deg);
}
.add-modal-close:before{
    content: "";
    display: inline-block;
    position: inherit;
    width: 20px;
    height: 3px;
    background-color: red;
    transform: rotate(-45deg);
}

.add-modal-header{
    justify-content: center;
    border-bottom: 1px solid #efefef;
}

.add-modal-body{
    justify-content: center;
    min-height: 70px;
}

.add-modal-footer{
    justify-content: flex-end;
    border-top: 1px solid #efefef;
}

.add-modal-footer-btn button{
    margin-left: 10px;
}