.cookie-accept-policy{
    background-color: #828282;
    color: white;
    padding: 20px;
    position: fixed;
    top:100%;
    transition: all 2s;
}

.cookie-accept-policy.show{
    top: initial;
    bottom: 0;
    transition: all 2s;
}

.close-btn{
    float: right;
    position: relative;
    bottom: 16px;
    right: -5px;
    background-color: white;
    color: black;
    padding: 0 7px;
}

.close-btn:hover{
    cursor: pointer;
    background-color: #828282;
    color: white;

}

