nav{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: baseline;
}

nav a{
    color: white;
}

nav a:hover {
    color: white;
}

nav ul,nav ul div{
    display: flex;
    list-style: none;
    padding-left: 10px;
}
nav li{
    padding: 0 10px;
}

li > a ~ ul{
    display: none;
}

li a.active ~ ul{
    display: flex;
    position: absolute;
    background: #4c4c4c;
}

a.active{
    text-decoration: underline;
}