.react-datepicker-wrapper{
    display: block;
}
.react-datepicker__input-container{
    display: block;
}

.react-datepicker__input-container input{
    text-align: center;
}

.lesson-page table select{
    height: 24px;
    background: none;
    border: none;
    width: 100%;
    margin-left: -4px;
    outline-style: none;
}
