.editBtn{
    background-image: url("/images/edit.svg");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}

.editBtn:hover, .delBtn:hover{
    cursor: pointer;
}

.delBtn{
    background-image: url("/images/del.png");
    background-size: 25px 25px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat
}

.action{
    display: flex;
    justify-content: space-around;
    min-width: 75px;
}

