.schedule-page .groups{
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
}
.schedule-page .groups li{
    padding-left: 10px;
}
.schedule-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule-table table td:nth-child(2){
    width:260px;
}

.schedule-table-header{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.schedule-table-header .editBtn,
.schedule-table-header .saveBtn{
    margin-left: 10px;
}


.schedule-table select {
    height: 24px;
    background: none;
    border: none;
    width: 100%;
    margin-left: -4px;
}

.schedule-table select.error{
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background: url("/images/cross.svg") no-repeat center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.schedule-table table{
    margin: 10px;
}