body{
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.current-page {
  font-size: 1.5rem;
  vertical-align: middle; }

.country-card-container {
  height: 60px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }

.country-name {
  font-size: 0.9rem; }

.country-region {
  font-size: 0.7rem; }

.current-page,
.country-name,
.country-region {
  line-height: 1; }

/* Override some Bootstrap pagination styles */
ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important; }
ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem; }
ul.pagination a.page-link:hover {
  background-color: #f4f4f4;
}

.modal-body .modal-footer{
  padding: 0;
  border-top: none;
}

.error-message{
  color: red;
}

.edit-photo-btn{
  background: url('/images/edit.png');
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  position: relative;
  top: calc(100% - 22px);
  left: -39px;
}

.save-photo-btn{
    background: url(/images/save.png);
    width: 30px;
    height: 30px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    position: relative;
    top: calc(100% - 28px);
    left: -38px;
}

.edit-photo-btn:hover,
.save-photo-btn:hover{
  cursor: pointer;
}

.saveBtn{
  background-image: url(/images/save.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}


.SelectedWeekExample .DayPicker-Month {
  border-collapse: separate;
}
.SelectedWeekExample .DayPicker-WeekNumber {
  outline: none;
}
.SelectedWeekExample .DayPicker-Day {
  outline: none;
  border: 1px solid transparent;
}
.SelectedWeekExample .DayPicker-Day--hoverRange {
  background-color: #EFEFEF !important;
}

.SelectedWeekExample .DayPicker-Day--selectedRange {
  background-color: #fff7ba !important;
  border-top-color: #FFEB3B;
  border-bottom-color: #FFEB3B;
  border-left-color: #fff7ba;
  border-right-color: #fff7ba;
}

.SelectedWeekExample .DayPicker-Day--selectedRangeStart {
  background-color: #FFEB3B !important;
  border-left: 1px solid #FFEB3B;
}

.SelectedWeekExample .DayPicker-Day--selectedRangeEnd {
  background-color: #FFEB3B !important;
  border-right: 1px solid #FFEB3B;
}

.SelectedWeekExample .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.SelectedWeekExample .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  border-radius: 0 !important;
  color: black !important;
}
.SelectedWeekExample .DayPicker-Day--hoverRange:hover {
  border-radius: 0 !important;
}